
.body {
  background-image: url("./images/BACKDROP.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 33vh;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  /* transform: translateY(-10px); */
  z-index: -1;
}
.textgroup {
  /* position: absolute; */
  width: 100%;
  /* text-shadow: 0em 0em 1em #000000,
            0em 0em 1.2em #000000,
            0em 0em 1em #000000,
            0em 0em 1.8em #000000,
            0em 0em 1.6em #000000,
            0em 0em 1.4em #000000,
            0em 0em 1.3em #000000,
            0em 0em 1.2em #000000;
  color: white; */
            
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3% ; 
  color: blue;
}

.cell {
  border-radius: 10px; 
  padding-bottom: 10px;
  padding-right: 10px;
  opacity: 100%;
  font-size: 16px;
  
}
.cell button {
  float: right;
}
.cell .point {
  float: right;
  padding-right: 10px;
}
.top-rank {
  color: grey;
}
.plus-button {
  margin-right: 5px;
}